<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dealership.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @dealership.location %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dealership.description %>
</p>

<p>
  <ul>
    <% @dealership.cars.each do |car| %>
        <li>
            <%= car.year.to_s + " " %><%= car.make %> <%= car.model %>
        </li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_dealership_path(@dealership) %> |
<%= link_to 'Back', dealerships_path %>
